<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <sens>1</sens>
  <zoomSens>1</zoomSens>
  <fov>80</fov>
  <zoomFov>40</zoomFov>
  <keys>
    <string>Attack1</string>
    <string>Attack2</string>
    <string>Zoom</string>
    <string>Strafe Up</string>
    <string>Strafe Left</string>
    <string>Strafe Down</string>
    <string>Strafe Right</string>
    <string>Jump</string>
    <string>Crouch</string>
    <string>Lean Left</string>
    <string>Lean Right</string>
    <string>Weapon1</string>
    <string>Weapon2</string>
    <string>Weapon3</string>
    <string>Reset</string>
  </keys>
  <commands>
    <ArrayOfKeyCode>
      <KeyCode>Mouse0</KeyCode>
      <KeyCode>None</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>Mouse1</KeyCode>
      <KeyCode>None</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>Mouse1</KeyCode>
      <KeyCode>None</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>W</KeyCode>
      <KeyCode>UpArrow</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>A</KeyCode>
      <KeyCode>LeftArrow</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>S</KeyCode>
      <KeyCode>DownArrow</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>D</KeyCode>
      <KeyCode>RightArrow</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>Space</KeyCode>
      <KeyCode>None</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>LeftControl</KeyCode>
      <KeyCode>None</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>Q</KeyCode>
      <KeyCode>None</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>E</KeyCode>
      <KeyCode>None</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>Alpha1</KeyCode>
      <KeyCode>None</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>Alpha2</KeyCode>
      <KeyCode>None</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>Alpha3</KeyCode>
      <KeyCode>None</KeyCode>
    </ArrayOfKeyCode>
    <ArrayOfKeyCode>
      <KeyCode>F</KeyCode>
      <KeyCode>None</KeyCode>
    </ArrayOfKeyCode>
  </commands>
</Settings>